.appointment-list-container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.appointment-list {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.appointment-list th,
.appointment-list td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.appointment-list th {
  background-color: #007bff;
  color: white;
}


.action-icons {
  display: flex;
  justify-content: space-around;
}

.recipe-icon {
  cursor: pointer;
}

.delete-icon,
.edit-icon {
  cursor: pointer;
  font-size: 20px;
  color: #dc3545; 
}

.edit-icon {
  color: #007bff; 
}

.recipe-icon {
  cursor: pointer;
}

.action-icons > * {
  margin: 0 5px; 
}

.request-appointment-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff; 
  font-weight: bold;
  font-family: sans-serif;
  border: 1px solid #d3d3d3; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.request-appointment-button:hover {
  background-color: #8f9dac; 
  color: #f8f8f8; 
}

.filters {
  display: flex; 
  align-items: center; 
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.filter {
  margin-right: 20px; 
}

.filter label {
  margin-right: 5px; 
}
