<<<<<<< HEAD
=======
/* CreateAssignedAppointment.css */
>>>>>>> dev
.container {
  width: 80%;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container .form-group,
.container .selected-patient-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.container label {
  font-weight: bold;
}

.container input[type="text"],
.container input[type="date"],
.container input[type="time"],
.container textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.container textarea {
  height: 80px;
  resize: none;
  font-family: sans-serif;
}

.container .results {
  margin-bottom: 20px;
}

.container .results ul {
  list-style-type: none;
  padding: 0;
}

.container .results li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.container .results li:hover {
  background-color: #f1f1f1;
}

.container .patient-info-label {
  font-weight: bold;
}

.container .selected-patient-info p {
  margin: 0;
<<<<<<< HEAD
=======
}

.container .submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container .submit-btn:hover {
  background-color: #0056b3;
>>>>>>> dev
}

.container .submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container .submit-btn:hover {
  background-color: #0056b3;
} 