.edit-appointment-container {
  width: 80%;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-appointment-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.edit-appointment-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos a la izquierda */
  gap: 20px; /* Añade un espacio entre cada elemento del formulario */
  width: 100%;
}

.edit-appointment-container label {
  font-weight: bold;
}

.edit-appointment-container select,
.edit-appointment-container .react-datepicker-wrapper input,
.edit-appointment-container textarea,
.edit-appointment-container button {
  width: 100%; /* Asegura que los elementos ocupen todo el ancho disponible */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  color: #495057; /* Color del texto seleccionado */
  background-color: #fff; /* Fondo del DatePicker */
}

.edit-appointment-container .react-datepicker-wrapper {
  width: 100%;
}

.edit-appointment-container button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.edit-appointment-container button:hover {
  background-color: #0056b3;
}

/* Custom styles for DatePicker */
.react-datepicker__input-container input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  color: #495057; /* Color del texto seleccionado */
  background-color: #fff; /* Fondo del DatePicker */
}

/* Estilo para resaltar la selección en DatePicker */
.react-datepicker__input-container input:focus {
  border-color: #007bff; /* Cambia el borde cuando el DatePicker está seleccionado */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Agrega una sombra para resaltar */
}

.edit-appointment-container textarea {
  width: 100%;
  height: 80px; /* Altura fija deseada */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  resize: none;
  font-family: sans-serif; /* Evita que se pueda redimensionar */
}
