.AppointmentForm {
  width: 80%;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AppointmentForm label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.AppointmentForm input[type="date"],
.AppointmentForm button,
.datepicker-input {
  width: 100%;
  max-width: 460px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.AppointmentForm button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.AppointmentForm button:hover {
  background-color: #0056b3;
}

.AppointmentForm .message-box {
  background-color: #e9ecef;
  color: #495057;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #8d8d8d;
}

.ejemplo {
  color: #9ea2a7;
  font-size: 0.95em;
}
